<div class = "main-card">
  <div class="card mt-5 content" style="width: 40rem;">
      <div class = "content">
          <form>
              <div class="mb-3 px-4 mt-4">
                  <h2>Create your account on Mybook</h2>
              </div>
              <div class="mb-3 px-4 ">
                  <label for="exampleInputEmail1" class="form-label">Full Name</label>
                  <input type="text" class="form-control name " id="name" >


              </div>
              <div class="mb-3 px-4 ">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" >
              </div>
              <div class="mb-3 px-4 ">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3 px-4 ">
                  <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" >
              </div>
              <div class="mb-3 px-4 ">
                  <label for="exampleInputPassword1" class="form-label">Contact Number</label>
                  <input type="number" class="form-control">
              </div>
              <div class="mb-4 mt-4 px-4">
                  <button type="submit" class="btn btn-primary">SignUp</button>
              </div>
              
          </form>
      </div>
</div>
</div>